<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.osan.domain.spot.dao.SpotDao">

<!--     이미지 등록-->
<!--    <insert id="insertImage" parameterType="Image" useGeneratedKeys="true" keyProperty="imageId">-->
<!--        -->

<!--    </insert>-->

<!--     스팟 등록-->
<!--    <insert id="insertSpot" parameterType="Spot">-->

<!--    </insert>-->

</mapper>
