<!DOCTYPE mapper [
        <!ELEMENT mapper (insert|select|delete)*>
        <!ATTLIST mapper
                namespace CDATA #REQUIRED>
        <!ELEMENT insert (#PCDATA)>
        <!ATTLIST insert
                id CDATA #REQUIRED
                parameterType CDATA #REQUIRED>
        <!ELEMENT select (#PCDATA)>
        <!ATTLIST select
                id CDATA #REQUIRED
                resultType CDATA #REQUIRED>
        <!ELEMENT delete (#PCDATA)>
        <!ATTLIST delete
                id CDATA #REQUIRED
                parameterType CDATA #REQUIRED>
        ]>
<mapper namespace="com.ssafy.osan.domain.talk.dao.TalkDao">

    <!-- 산책 한마디 등록-->
    <insert id="insertTalk" parameterType="Talk">
        INSERT INTO talk (writer, content)
        VALUES (#{writer}, #{content})
    </insert>

    <!-- 산책 한마디 전체 리스트-->
    <select id="selectAllTalk" resultType="Talk">
        SELECT talkId, writer, content, date_format(createdAt, '%y-%m-%d %H:%i:%s') as regDate
        FROM talk
        ORDER BY talkId desc;

    </select>


    <!-- 산책 한마디 삭제-->
    <delete id="deleteTalk" parameterType="Integer">
        DELETE FROM talk
        WHERE talkId=${talkId};
    </delete>

</mapper>
